@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplicativo Loterica</h1>
    <p>Aplicativo desenvolvido para auxiliar os apostadores dos jogos da loteria da caixa</p>
</div>
